:root{
    --c1:coral;
    --c2:tan;
    --c3:black;

    --ff:sans-serif;
    --mw:960px;
}
body{
    font-family: var(--ff);
    max-width:var(--mw);
    margin: 0 auto;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6{}

a{
    text-decoration: none;
}

p a{ text-decoration: underline;}

img{
    max-width: 100%;
}


header, main, footer{}

header{}

main{}

footer{}


ul.grid{
    display:grid;
    grid-template-columns:repeat(3, 1fr);
}

ul{
    display: flex;
    gap:10px;

    list-style:none;
    padding-left:0;

}

ul li{
    border-radius:10px;
    padding: 20px;
    box-shadow: 2px 4px 18px #aaa;
    outline: solid 1px #ddd;
}

ul li:hover{
    background:#CCC;
}

ul li h2{
    min-height:60px;
}


ul li img{
    display:block;
    margin:0 auto;
    height:200px;
    object-fit:contain;
    box-shadow: 0px 2px 10px #000000CC;
    position:relative;
    top:0;
    
}

ul li:hover img{
    
    top:-30px;
    scale:1.1;
    box-shadow: 4px 18px 10px #00000099;

}

.gasto{
    padding: 10px;
    border-radius:10px;
    border: solid 1px var(--c1);
    color:var(--c1)
}

.precioFinal{
    background:var(--c1);
    font-weight:bold;
    font-size:20px;
}


ul li,
ul li img{
        transition:0.3s;
}
    
