@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&family=Poppins:wght@300&family=Rubik+Doodle+Shadow&display=swap');

:root{
  --cat1:#eabe2e;
  --cat2:#69a4db;
  --cat3:#77af52;
}




* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  max-width: 320px;
  margin: 0 auto;
  border: solid 2px black;
}

img {
  max-width: 100%;
  border-radius: 6px;
}

h1, h2, h3, h4{
  font-family: 'Poppins', sans-serif;
}

.semana {
  display: flex;
  flex-direction: column;
}

.semana h2 {
  background: #aaaaaa99;
  backdrop-filter: blur(10px);
  padding: 6px;
  position: sticky;
  top: 6px;
  width: 100%;
  margin: 1px 0 12px 0;
  box-shadow: 0 4px 5px 2px #666666aa;
}

.semana ul {
  list-style: none;
  padding-left: 0;
  padding: 10px;

  display: flex;
  flex-direction: column;
  gap: 5px;
}
.semana li {
  padding: 10px;
  border-radius: 10px;

  display: grid;
  grid-template-areas:
    "tit tit tit tit"
    "hor dur dur sal"
    " -  -   mon mon";
}

.semana li h3 {
  grid-area: tit;
  border-bottom: 1px solid black;
  margin-bottom: 6px;
  padding-bottom: 3px;
}
.semana li .hora {
  grid-area: hor;
}
.semana li .duracion {
  grid-area: dur;
}
.semana li .sala {
  grid-area: sal;
}
.semana li .monitor {
  grid-area: mon;
}

.semana li p {
  font-size: 14px;
  padding: 4px;
}

.semana li i {
  padding-right: 6px;
}

.semana li:hover {
  outline: solid 2px black;
  cursor: pointer;
}

div.hora {
  position: sticky;
  top: 46px;
  background: #fff;
  margin-left: -10px;
  margin-right: -10px;
  padding: 6px 10px;
  font-size: 10px;
}

.cat1 {
  background:var(--cat1);
}
.cat2 {
  background: var(--cat2);
}
.cat3 {
  background: var(--cat3);
}

/* Vetnana Modal */

.semana .modal {
  display: none;

  position: fixed;
  inset: 10px 10px 10px 10px; /* top right bottom left */
  justify-content: center;
  align-items: center;
  background: #55555588;
  backdrop-filter: blur(8px);
  border-radius: 6px;
  z-index: 9;
}

.semana .modal .ventana {
  max-width: 410px;
  padding: 20px;
  border-radius: 10px;
  background: white;
  margin: 20px;
  box-shadow: 0 0 18px 18px #77777777;
}

.semana .activo .modal {
  display: flex;
  animation: anim2 .2s;
}

.semana .modal .ventana {
  position: relative;
  display: grid;
  grid-template-areas:
    "img img img img img"
    "tit tit tit tit tit"
    ". hor dur sal sal"
    ". . mon mon mon"
    ". . des des des";
  justify-items: stretch;

  animation: anim1 .6s;


}


.semana .ventana{
  border: solid 2px transparent;
}

.semana .cat1{
  border-color:var(--cat1);
}
.semana .cat2{
  border-color:var(--cat2);
}
.semana .cat3{
  border-color:var(--cat3);
}

.semana li .ventana img {
  grid-area: img;
  margin-bottom: 10px;
}
.semana li .ventana .descripcion {
  grid-area: des;
}

.semana li .ventana h3 {
  grid-area: tit;
  border-bottom: 1px solid black;
  margin-bottom: 6px;
  padding-bottom: 3px;
  font-weight: 900;
}
.semana li .ventana .hora {
  grid-area: hor;
}
.semana li .ventana .duracion {
  grid-area: dur;
}
.semana li .ventana .sala {
  grid-area: sal;
}
.semana li .ventana .monitor {
  grid-area: mon;
}
.semana li .ventana .cerrar i {
  position: absolute;
  right: calc(50% - 17px);
  bottom: -18px;
  background: white;
  border-radius: 60px;
  display: flex;
  width: 38px;
  aspect-ratio: 1/1;
  justify-content: center;
  align-items: center;
  padding: 0;
  box-shadow: 0 0 12px 0px #888888;
}


.semana li .ventana .cerrar i:hover {
  background: #888888;
  color:white;
}


@keyframes anim1{
  0%{ opacity: 0; scale: 0.4;}
}

@keyframes anim2{
  0%{ opacity: 0;}
}