body{
    font-family: sans-serif;
    max-width: 960px;
    margin: 0 auto;
}

ul{
    display: flex;
    gap:10px;
    flex-wrap:wrap;

    list-style: none;
    padding-left: 0;
}
li{ max-width:220px;}
li img{
    height: 220px;
    aspect-ratio: contain;
}

img{
    max-width:100%;
}