:root{
    --c1:tan;
    --c2:coral;
    --c3:black;

    --ff:sans-serif;
    --mw:960px;
    --bdrs:10px;
}
body{
    font-family: var(--ff);
    max-width:var(--mw);
    margin: 0 auto;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6{}

a{
    color:var(--c1);
    text-decoration: none;
}

p a{ text-decoration: underline;}

img{
    max-width: 100%;
}

header, main, footer{}

header{}

main{ margin:20px 0}

footer{}

header,
footer{ outline: 1px solid var(--c1); padding:12px; border-radius:calc(var(--bdrs)*2);}

nav ul{ list-style:none; padding-left:0; display:flex; gap:10px;}


.desarrollo{
    background: var(--c1);
    padding: 8px 20px;
    border-radius: var(--bdrs);
    border:solid var(--c2) 1px;
    margin-top: 10px;
}

.btn{
    border-radius:var(--bdrs);
    background:var(--c1);
    border: 1px solid var(--c2);
    color:white;
    padding:10px;
    display:inline-block;
    margin:2px;
    cursor:pointer
}

.btn:hover{
    background:var(--c2);
}

ul.lista{
    list-style:none;
    padding-left:0;
    
    display:flex;
    flex-wrap:wrap;
    gap:10px;
    justify-content:space-around;
    
}
ul.lista li{
    display:flex;
    flex-direction:column;
    justify-content:center;
    text-align:center;
    outline:1px solid var(--c1);
    padding:10px;
    border-radius:10px;
}

ul.lista li:hover{
    background:var(--c1);
}

ul.lista li:hover a{
    color:white
}


ul.lista li img{
    width:80px;
    display:block;
    margin-bottom:10px;
}



ul.info li{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
}