body{
    max-width: 460px;
    margin:10px auto;
    font-family: sans-serif;
}

img{
    max-width: 100%;
}

ul{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);

    list-style: none;
    padding-left: 0;
}

li img{
    height: 220px;
}