:root{
    --c1:coral;
    --c2:tan;
    --c3:black;

    --ff:sans-serif;
    --mw:960px;
}
body{
    font-family: var(--ff);
    max-width:var(--mw);
    margin: 0 auto;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6{}

a{
    text-decoration: none;
    color:var(--c1);
}

p a{ text-decoration: underline;}

img{
    max-width: 100%;
}


header, main, footer{}

header{
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

nav ul, 
ul.flex{
    list-style: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

main{}

footer{}


div.desarrollo{
    outline: solid 1px var(--c1);
    border-radius:8px;
    margin-bottom:20px;
    background-color:#DDD;
    overflow: auto;
    padding:8px;
}
pre.desarrollo code.hljs{
    border-radius:10px !important;
}


/*
*{
    outline: 1px red solid;
}



/* Listado */
.lista{
    list-style:none;
    padding-left:0;
    display:grid;
    gap:10px;
grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}

/**/
.lista li a{
    display: block;
    border-radius:8px;
    padding:4px;
    outline:solid 1px var(--c1);
}
.lista img{
    border-radius:6px;
}

.lista h2{
    font-size:21px;
}

