@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&family=Poppins:wght@300&family=Rubik+Doodle+Shadow&display=swap');

:root{
  --cat1:#eabe2e;
  --cat2:#69a4db;
  --cat3:#77af52;
}


* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  max-width: 960px;
  margin: 0 auto;
  padding: 40px;
}

main{
  display:grid;
  grid-template-columns:2fr 3fr;
  gap: 20px;
  align-items: start;
}

img {
  max-width: 100%;
  border-radius: 6px;
}

h1, h2, h3, h4{
  font-family: 'Poppins', sans-serif;
}


a{ text-decoration:none; color:black}

header{
  padding: 20px;
  border-radius: 10px;
  background: white;
  margin: 20px 0;
  box-shadow: 0 0 18px 18px #77777777;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul{
  list-style:none;
  padding-left:0;
  display:flex;
  gap:20px;
  justify-content: flex-end;
}


.semana {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 90vh;
  min-width:290px;
}

.semana h2 {
  background: #aaaaaa99;
  backdrop-filter: blur(10px);
  padding: 6px;
  position: sticky;
  top: 6px;
  width: 100%;
  margin: 1px 0 12px 0;
  box-shadow: 0 4px 5px 2px #666666aa;
}

.semana ul {
  list-style: none;
  padding-left: 0;
  padding: 10px;

  display: flex;
  flex-direction: column;
  gap: 5px;
}
.semana li {
  cursor:pointer;
  
  padding: 10px;
  border-radius: 10px;

  display: grid;
  grid-template-areas:
    'tit tit tit tit'
    'hor hor dur dur'
    'sal sal sal sal';
}


.semana h3{ grid-area:tit;}


#dato h1 {
  grid-area: tit;
  border-bottom: 1px solid black;
  margin-bottom: 6px;
  padding-bottom: 3px;
}
#dato .hora {
  grid-area: hor;
}
#dato .duracion {
  grid-area: dur;
}
#dato .sala {
  grid-area: sal;
}
#dato .monitor {
  grid-area: mon;
}

#dato p {
  font-size: 14px;
  padding: 4px;
}



div.hora {
  position: sticky;
  top: 46px;
  background: #fff;
  margin-left: -10px;
  margin-right: -10px;
  padding: 6px 10px;
  font-size: 10px;
}

.cat1 {
  background:var(--cat1);
}
.cat2 {
  background: var(--cat2);
}
.cat3 {
  background: var(--cat3);
}

/* Vetnana Modal se reemplaza por dato */


#dato {
  padding: 20px;
  border-radius: 10px;
  background: white;
  margin: 20px;
  box-shadow: 0 0 18px 18px #77777777;
  display: grid;
  grid-template-areas:
    "img img img img img"
    "tit tit tit tit tit"
    ". hor dur sal sal"
    ". . mon mon mon"
    ". . des des des";
  animation: anim1 .6s;
  align-items: start;
  align-content: center;
}


#dato{
  border: solid 2px transparent;
}

#dato.cat1{
  border-color:var(--cat1);
}
#dato.cat2{
  border-color:var(--cat2);
}
#dato.cat3{
  border-color:var(--cat3);
}

#dato img {
  grid-area: img;
  margin-bottom: 10px;
}
#dato .descripcion {
  grid-area: des;
}

#dato h3 {
  grid-area: tit;
  border-bottom: 1px solid black;
  margin-bottom: 6px;
  padding-bottom: 3px;
  font-weight: 900;
}
#dato .hora {
  grid-area: hor;
}
#dato .duracion {
  grid-area: dur;
}
#dato .sala {
  grid-area: sal;
}
#dato.monitor {
  grid-area: mon;
}
#dato .cerrar i {
  position: absolute;
  right: calc(50% - 17px);
  bottom: -18px;
  background: white;
  border-radius: 60px;
  display: flex;
  width: 38px;
  aspect-ratio: 1/1;
  justify-content: center;
  align-items: center;
  padding: 0;
  box-shadow: 0 0 12px 0px #888888;
}


#dato.cerrar i:hover {
  background: #888888;
  color:white;
}


@keyframes anim1{
  0%{ opacity: 0; scale: 0.4;}
}

@keyframes anim2{
  0%{ opacity: 0;}
}