:root {
  --color:red;
  --w:20px;
  --gap:1px;
  --border-radius:1px;
}

body {
  font-family: sans-serif;
}

ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  gap: var(--gap);
  flex-wrap: wrap;
}

li {
  background: var(--color);
  width: var(--w);
  aspect-ratio: 1/1;
  border-radius: var(--border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}

.tocado {
  opacity: 0;
  scale: 0;
  //display: none;
}

::selection {
  background: none;
}

#puntuacion {
  text-align: center;
}